includes:
	- phpstan.common.neon

parameters:
    level: 9
    fileExtensions:
        - php
    ergebnis:
        noParameterWithNullableTypeDeclaration:
            enabled: false
        noNullableReturnTypeDeclaration:
            enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        final:
            allowAbstractClasses: true
        noExtends:
            classesAllowedToBeExtended:
                # std
                - Exception
                - RuntimeException
                - InvalidArgumentException
                # laravel
                - Illuminate\Support\ServiceProvider
    paths:
        - src/